<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
                <br/>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <%= f.label :Prénom %>
                <div class="form-label-group">
                  <%= f.text_field :first_name%>
                </div>
                <%= f.label :Nom %>
                <div class="form-label-group">
                  <%= f.text_field :last_name%>
                </div>
                  <%= f.label :email %>
                <div class="form-label-group">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
                  <%= f.label :Description %>
                <div class="form-label-group">
                  <%= f.text_field :description%>
                </div>
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                <div class="form-label-group">
                  <%= f.password_field :password, autocomplete: "new-password" %>
                </div>
                  <%= f.label :password_confirmation %>
                <div class="form-label-group">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>
                <%= f.submit "Sign up", class:"btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2" %>
                <% end %>
                <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



