<br/>
<div class="card m-5 p-1 align-items-center" style="width: 60%;" >
  <%= image_tag "#{["event.jpg","event2.jpg","event3.jpg","event4.jpg","event5.jpg"].sample}", class:"card-img-top"%>
  <div class="card-body">
    <div class="row align-items-between">
      <div class="col-4 mr-5">
        <h5 class="card-title"><%=@event.title%></h5>
        <p class="card-text"><%=@event.description%></p>
        <span>Par:  </span><a class="card-text text-muted" <%= link_to "#{admin(@event).first_name} #{admin(@event).first_name}", user_path(admin(@event).id)%><br/><br/>
        <a class="btn btn-danger" <%= link_to "S'inscrire", event_path(@event.id)%>
      </div>
      <div class="col-4 ml-5">
        <div class="card" style="width: 18rem;">
          <div class="card-header bg-danger text-center text-light">
            Détails de l'évenement
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Lieu : <%=@event.location%></li>
            <li class="list-group-item">Date : <%=@event.start_date.to_date%></li>
            <li class="list-group-item">Durée : <%=@event.duration%> minutes</li>
            <li class="list-group-item">Prix : <%=@event.price%> euros (only!)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
